#grid-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
}

.tile {
    width: 64px;
    height: 64px;
    cursor: pointer;
    line-height: 64px; /*align text to center*/
    text-align: center;

    border: solid 1px black;
}

.tile[occupied="theirs"] {
    background-color: aqua !important;
}

.tile[occupied="ours"] {
    background-color: green !important;
}

.tile:hover {
    background-color:ghostwhite;
}

