#grid-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#inv-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    -webkit-transform: translate(50%, 0%);
    transform: translate(50%, 0%);
}

.row {
    display: flex;
}

.tile {
    width: 64px;
    height: 64px;
    cursor: pointer;
    line-height: 64px; /*align text to center*/
    text-align: center;

    border: solid 1px black;
}

.tile[status="disabled"] {
    background-color: black !important;
}

.tile[status="wrong"] {
    background-color: red !important;
}

.tile[status="right"] {
    background-color: rgb(85, 167, 85) !important;
}

.tile[grabbable="true"] {
    background-color: darksalmon;
}

.tile[occupied="theirs"] {
    background-color: gray;
}

.tile[occupied="ours"] {
    background-color: aqua;
}

.tile:not([occupied]):hover.tile:not([occupied]):hover {
    background-color:ghostwhite;
}

.tile:not([occupied]).tile:not([grabbable=true]){
    background-color: cornsilk;
}

