.naviagtor > * {
  margin-left: 40px;
}

.navigator {
  padding-left: 10px;
}

.profile-pic {
  display: block;
  max-width: 64px;
  max-height: 64px;
}

.page {
    width:100vw;
    height:100vh;
}

.custom-select:valid {
  background-image: none;
}

.custom-select:invalid {
  background-image: none;
}
