/* GAME PAGE */

#div-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#indicators-container {
    position: absolute;
    top: 2px;
    left: 2px;

    display: flex;
    background-color: lightgray;
}

.indicator {
    width: 16px;
    height: 16px;
    padding: 4px;
    margin: 4px;
    overflow: hidden;
}

.indicator.input-taken[active='true'] {
    background-color: green;
}

.update-done {
    background-color: yellow;
}

/* LOGIN FORM */

/* container for login form */
#login-form {
    width: 20%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* elements inside login form */
#login-form > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#login-form #logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 90%;
}

#login-form #msg {
    width: 90%;
}

#login-form #login-button {
    width: 90%;
}

#login-form #username, #password{
    text-align: left;
    background-image: none; /*Removes the icon that bootstrap gives on is-invalid*/
    width: 90%;
}
